body {
  font-family: "Lucida Console", Monaco, monospace;
  background-color: #2c2c2c;
  color: white;
}

.terminal {
  font-size: 1em;
  line-height: 1em;
}

.text:after {
  position: absolute;
  content: "";
  background-color: #cccccc;
  width: 0.5em;
  height: 1em;
  -webkit-animation: cursor 1s step-end infinite;
  animation: cursor 1s step-end infinite;
}

@-webkit-keyframes cursor {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes cursor {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
